html {
	 margin-top: 4px;
	 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	 text-align: center;
}
button {	
	background: #afdaff;
    border: #56a7ef;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;    
}
h1 {
	background: #9ed5ff;
	color: #ffffff;
    margin-top: -12px !important;
   	margin-left: -8px !important;
    padding: 10px;
}

