html {
	 margin-left: 20px; 
	 margin-top: 4px;
	 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	 text-align: center;
}
button {	
	background: #afdaff;
    	border: #56a7ef;
    	padding: 10px;
    	border-radius: 20px;
}
h1 {
	background: #4b5ef2;
	width: 1920px;
	font-color: #ffffff;
}
